    body{
margin: 0;
}

.logo {
    width:150px;
    height:50px;
}
.hamburguer{
    width: 50px;    
}

.links{
    display: none;
    color:white;
}

.header-container{
    background-color: black;
    display: flex;
    justify-content: space-between; 
    padding: 20px;  
}
.nav{
    display: none;
}

.background{
  background-color: cornflowerblue; 
                
}
.text{
    color: white;
}

button{
    border-radius: 20px;
    background-color: rgb(76, 204, 76);
    border: none;
    color: white;   
    font-size: 10px; 
    width: 95%;
    padding: 7px;
    margin-left: 10px;
    
}

h1{
    margin-top: 0;   
    color: white;
    padding-top: 50px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h3{
    color: white;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

h6{
        color: white;
        padding: 20px;
        padding-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 7px;
        margin-bottom: 7px;
    }



.container{
    background-color: white;
}

 .text-container{
    font-size: 20px;
    align-items: center;
   
 }   
   

.image-container-1{
    
    display: flex;
    align-items:center;
    justify-content: space-evenly;
 
    
 }   

 .text-image-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    align-content: flex-start;

 }

.image-1{
    max-width: 100px ;}

.image-container-2{
    
    display: flex;
    align-items:center;
    justify-content: space-evenly;
   
}    
.image-container-3{
  
    display: flex;
    align-items:center;
    justify-content: space-evenly;


}
.image-container-4{
      
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.image-2{
    max-width: 100px ;}

 
.image-3{
    max-width: 100px ;}   


.image-4{
    max-width: 100px ;}
    


@media(min-width:736px)
.links{
    display:flex;
    gap:20px}


}


